@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}
ul{
    list-style-type: none;
}
.container{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}
header{
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,0.4962359943977591) 100%), 
    url(/sea.jpg) no-repeat center center;
    
    width: 100%;
    height: 100vh;
    background-size: cover;
}
.blogo{
    font-size: 30px;
    font-weight:bold ;
}
a{
    text-decoration: none;
    color: #fff;
}
p{
    color: #fff;
}
h1{
    color: #fff;
}
.navlist{
    display: flex;
    justify-content: space-between;
    width: 550px;
}
.hnav{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.htext{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.htext a{
    margin-top: 20px;
    border: 3px solid #fff;
    padding: 15px;
    margin-top: 40px;
    border-radius: 3px;
    text-transform: uppercase;
}
.htext h1{
    font-size: 40px;
    margin-bottom: 15px;
}